@import 'tailwindcss';
@import '@ho-dev/tokens/tokens.css';

@source '../../../packages/**/src/**/*.{ts,tsx,css}';
@source '../../../apps/storybook/stories/**/*.{ts,tsx,mdx}';

@custom-variant dark (&:is(.dark *));

@layer base {
  *,
  ::before,
  ::after,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  body {
    @apply bg-gray-2 text-dark-4 dark:text-dark-6 dark:bg-[#020D1A];
  }
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility custom-scrollbar {
  @apply overflow-auto;

  &::-webkit-scrollbar {
    @apply size-2;
  }

  &::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  &::-webkit-scrollbar-thumb {
    @apply dark:bg-stroke-dark relative flex-1 rounded-full bg-neutral-200/40;
  }
}
